{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block start %}


<main class="form-signin">
  <form>
    
    <h1 class="h3 mb-3 fw-normal">Log-in first</h1>
    <div class="form-floating pb-2">
      <input type="email" class="form-control" id="floatingInput" name='email' placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
         <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name='mobile' placeholder="Enter Valid-phone-number">
      <label >Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Login</button>
    <p>Don't Have account? <a href="/register">Register</a></p>
  </form>
</main>



{% endblock start %}